name: Bookings
version: '3.9'

services:
  frontend:
    build: ./frontend
    images: booking_frontend:latest
    ports: "3000:3000"
    depends_on: 
      - backend

  backend:
    build: ./backend
    images: booking_backend:latest
    environment: 
      REDIS_HOST: "redis"
      REDIS_PORT: "6379"
    depends_on:
      - redis
      

  redis:
    image: redis:alpine
